<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>


<style type="text/css" media="screen">

</style>
<nav class="navbar navbar-expand-sm navbar-dark primary-color" style="background-image: linear-gradient(to right, rgb(41, 39, 39),rgb(41, 39, 39)); height: 29px; border-bottom: lime 2px solid;">

  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#">File <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Tools</a>
      </li>
    </ul>
  </div>
</nav>

     <div class="container-xxl" style="background-color:papayawhip; padding-bottom: 2rem;">
      <div class="row" >
        <div class="col msg" style="height:36.9rem;  margin-left: 5rem; display:inline-block;
        padding:0px;
        margin-left:-4px;" id="editor">function foo(items) {
          var x = "All this is syntax highlighted";
          return x;
          </div>
          <div class="col" style="display:inline-block;
          padding:0px;
          margin-left:0px;">
            
            <textarea readonly class="form-control rounded-0" id="exampleFormControlTextarea3"  rows="24" style="width: 98.2%;">Output</textarea>
          </div>
        
      </div>
    </div>
    <div class="container-xxl d-flex justify-content-center"style="background-color:papayawhip; padding-bottom: 4rem;">
      <div class="row">
        <button type="button" class="reset btn btn-light">reset</button>
        <button type="button" class="run btn btn-success ">Execute</button>
      </div>
    </div>
    
      <script src="js/ace.js" type="text/javascript" charset="utf-8"></script>
      <script src="js/ext-language_tools.js"></script>
        <script>
        
        const runCode = document.querySelector('.run');
        const resetCode = document.querySelector('.reset');
        
      

        
            var editor = ace.edit("editor");
           
            
            editor.setTheme("ace/theme/dracula");
            editor.session.setMode("ace/mode/javascript");
            ace.require("ace/ext/language_tools");
            editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
           enableLiveAutocompletion: true
        });
        runCode.addEventListener('click', ()=>{
          const userCode = editor.getValue();  //get the code from user
            try{
              new Function(userCode)();
            }catch{
                console.error(err);
            }
        });
        resetCode.addEventListener("click", ()=>{
            editor.setValue(" function foo(items) {"
          +"\n          var x" +"= "+"All this is syntax highlighted"+";"
          +"\n          return x;");
        })
        editor.setShowPrintMargin(true);
        var code = editor.getValue();
        </script>
    
     
<%- include('layouts/footer.ejs') %>
        