<%- include('layouts/header.ejs') %>
  <%- include('layouts/navigation.ejs') %>
    <!--Menu bar of the code editor containing functions like open, save, home, select the language, run-->
    <div class="container-xxl" style="background-color: rgb(68, 68, 68); border-bottom: limegreen 3px solid;">
      <div class="row" style="margin-left: 10px">
        <div class="col=sm-3" id="editnav">
          <input type="file" class="open " onClick="openCode()" id="openbtn" value="Open">
          <button type="submit" class="btn btn-light btn-sm" onClick="saveText()" id="download" name="download"
            value="download">Download</button>

        </div>
    

        <div class="col=sm-3">
          <select class="languages btn btn-light btn-sm" name="Language" id="mode" onchange="changeLanguage()">
            <option selected disabled>Choose langauge</option>
            <option id="java" value="java">Java</option>
            <option id="python" value="python">Python</option>
            <option id="c++" value="c++">C++</option>
            <option id="c" value="c">C</option>
            <option id="Swift" value="Swift">Swift</option>
          </select>
        </div>

        <div class="col=sm-">
          <select class="btn btn-light btn-sm" name="Themes" id="themes" onchange="changeThemes()">
            <option selected disabled>Choose themes</option>
            <option id="twilight" value="twilight">Twilight</option>
            <option id="monokai" value="monokai">Monokai</option>
            <option id="eclipse" value="eclipse">Eclipse</option>
            <option id="dracula" value="dracula" selected>Dracula</option>
            <option id="ambiance" value="ambiance">Ambiance</option>
            <option id="chao" value="chaos">Chaos</option>
          </select>
        </div>

        <div class="col=sm-2">
          <input type="button" class="btn btn-light btn-sm" id="homebtn2"
            onclick="window.location.href = '/code-editor';" value="Reset">
          <button type="button" class="btn btn-success btn-sm" onclick="executeCode()"><i class="fas fa-play"></i>&nbsp;
            Run</button>
        </div>
      </div>
    </div>


    <!--Editor from ace Editor-->
    <script src="http://ajaxorg.github.io/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajaxorg.github.io/ace-builds/src/ext-modelist.js" type="text/javascript"
      charset="utf-8"></script>
    <div class="container-xxl" style="background-color:papayawhip; padding-bottom: 2rem;">
      <div class="row">
        <div class="col msg" style="height:33.1rem;   margin-left: 5rem; display:inline-block;
        padding:0px;
        margin-left:-4px;" id="editor">//Select the programming language first!!!
        </div>
      </div>


      <div class="container-xxl">
        <div class="row">
          <div class="col-xl">
            <textarea placeholder="Input" id="input" class="form-control rounded-0" id="exampleFormControlTextarea3"
              rows="10"
              style="width: 104.45%;border:rgb(224, 30, 30) 3px solid; background-color: black; color: yellow; "></textarea>
          </div>
          <div class="col-lg">
            <textarea readonly placeholder="Output" id="output" class="form-control rounded-0"
              id="exampleFormControlTextarea3" rows="10"
              style="width: 100%; border:rgb(6, 247, 6) 3px solid;color:chartreuse; background-color: rgb(34, 34, 34);"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xxl d-flex justify-content-center" style="background-color:papayawhip; padding-bottom: 4rem;">
      <div class="row">

        <button type="button" id="execute" onclick="executeCode()" class="run btn btn-success ">Execute</button>
      </div>
    </div>


    <!------------------------------------------------------------Javascript----------------------------------------------------------------->
    <script src="js/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ext-language_tools.js"></script>
    <script src="src/FileSaver.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="js/index.js"></script>
    <%- include('layouts/footer.ejs') %>