<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<div class="container-xxl" style="background-color: rgb(68, 68, 68); border-bottom: limegreen 3px solid;">
  <div class="row" style="margin-left: 10px" >
    <div class="col=sm-3"id="editnav">
      <input type="file"class=" btn-sm"  id="openbtn" onchange="openCode(this.files)" value="Open">
      <input type="button"  class="btn btn-light btn-sm" id="downloadbtn" onclick="downloadHTML()" value="Save">
      <input type="button"  class="btn btn-light btn-sm" id="homebtn2" onclick="window.location.href = 'index.html';" value="Home">
  </div>
   
    <div class="col=sm-3">
      <button type="button" class="btn btn-light btn-sm"><i class="fas fa-plus-circle"></i>&nbsp; Add</button>
    </div>
    <div class="col=sm-3">
     <!--Dropdown primary-->
      <!--Trigger-->
      <a class="btn btn-light btn-sm dropdown-toggle" ontype="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="color:black;">Themes </a>


      <!--Menu-->
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" href="#">Dracula</a>
        <a class="dropdown-item" href="#">twilight</a>
        <a class="dropdown-item" href="#">Eclipse</a>
        <a class="dropdown-item" href="#">Monokai</a>
    
</div>

<!--/Dropdown primary-->
    </div>
    <div class="col=sm-3">
      <select class="btn btn-light btn-sm" name="Language" id="Language">
        <option selected disabled>Choose langauge</option>
        <option value="Java">Java</option>
        <option value="Python">Python</option>
        <option value="cpp">C++</option>
        <option value="c">C</option>
        <option value="javascript">Javascript</option>
      </select>
    </div>
    <div class="col=sm-2">
      <button type="button" class="btn btn-success btn-sm"><i class="fas fa-play"></i>&nbsp; Run</button>
    </div>
   

  </div>
</div>
<!--Editor-->
      <script src="http://ajaxorg.github.io/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
      <script src="http://ajaxorg.github.io/ace-builds/src/ext-modelist.js" type="text/javascript" charset="utf-8"></script>
     <div class="container-xxl" style="background-color:papayawhip; padding-bottom: 2rem;">
      <div class="row" >
        <div class="col msg"  style="height:33.1rem;  margin-left: 5rem; display:inline-block;
        padding:0px;
        margin-left:-4px;" id="editor">function foo(items) {
          var x = "All this is syntax highlighted";
          return x;
          </div>
          </div>
          <div class="container-xl" style="padding-top: 1.5rem;">
          <div class="row">
            <div class="col-md" >
              <textarea  placeholder="input"class="form-control rounded-0" id="exampleFormControlTextarea3"  rows="10" style="width: 98.2%;border:black 1px solid"></textarea>
            </div>
            <div class="col-md" >
              <textarea readonly placeholder="Output"class="form-control rounded-0" id="exampleFormControlTextarea3"  rows="10" style="width: 98.2%; border:black 1px solid"></textarea>
            </div>
          </div>
        </div>
      
    </div>
    <div class="container-xxl d-flex justify-content-center"style="background-color:papayawhip; padding-bottom: 4rem;">
      <div class="row">
        <button type="button" class="reset btn btn-light">reset</button>
        <button type="button" class="run btn btn-success ">Execute</button>
      </div>
    </div>
    

    <!--Javascript-->
      <script src="js/ace.js" type="text/javascript" charset="utf-8"></script>
      <script src="js/ext-language_tools.js"></script>
  
        <script>
        
        const runCode = document.querySelector('.run');
        const resetCode = document.querySelector('.reset');
      
            var editor = ace.edit("editor");

            editor.setTheme("ace/theme/dracula");
            editor.session.setMode("ace/mode/java");
            ace.require("ace/ext/language_tools");
         

            editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
           enableLiveAutocompletion: true
        });
        runCode.addEventListener('click', ()=>{
          const userCode = editor.getValue();  //get the code from user
            try{
              new Function(userCode)();
            }catch{
                console.error(err);
            }
        });
        function openCode(files) {
                var file = files[0]
                if (!file) return;
                var modelist = ace.require("ace/ext/modelist")
                var modeName = modelist.getModeForPath(file.name).mode 
                editor.session.setMode(modeName)
                reader = new FileReader();
                reader.onload = function() {
                    editor.session.setValue(reader.result)
                }  
                reader.readAsText(file) 
            }
        document.getElementById('editor').style.fontSize='14px';
        resetCode.addEventListener("click", ()=>{
            editor.setValue(" function foo(items) {"
          +"\n          var x" +"= "+"All this is syntax highlighted"+";"
          +"\n          return x;");
        })
        editor.setShowPrintMargin(true);
        var code = editor.getValue();
        
     
        </script>
    
     
<%- include('layouts/footer.ejs') %>
        