<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>


  <!-- Start your project here-->  
 <h1>Email Sent!</h1>

  <!-- End your project here-->

  
  <%- include('layouts/footer.ejs') %>