.navbar-brand{
    font-family: Gill Sans, sans-serif;
    font-style: italic, bold;
    color: black;
    text-shadow: mediumseagreen;
}
.editorContainer{
    display: grid;
    grid-template-columns: subgrid;
}